<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
  <title>Signin</title>
</head>

<body>
  <%- include('./partials/nav') %>
  <div class="container mt-4">
    <form action="/user/signin" method="post">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
        <label for="floatingPassword">Password</label>
      </div>
      <button type="submit" class="btn btn-primary mb-3">Submit</button>
      <p>Don't have an account? <a href="/user/signup">Signup</a></p>
    </form>
  </div>

  <%- include('./partials/script') %>

</body>

</html>