<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
  <title>Signp</title>
</head>

<body>
  <%- include('./partials/nav') %>
  <div class="container mt-4">
    <form action="/user/signup" method="post">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="fullName" placeholder="name@example.com" name="fullName">
        <label for="fullName">Full Name</label>
      </div>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email">
        <label for="email">Email address</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password" placeholder="Password" name="password">
        <label for="password">Password</label>
      </div>
      <button type="submit" class="btn btn-primary mb-3">Submit</button>
      <p>Already have an account? <a href="/user/signin">Signin</a></p>
    </form>
  </div>

  <%- include('./partials/script') %>

</body>

</html>